<%- include('./layout/header') %>


<section>
    <form action="/productbyprice" method="POST">
    Search about a brand : <input type="text" name="brand" >
    price greater than: <input type="number" name="greater" >
    price less than: <input type="number" name="less" >
    <button type="submit" >Search</button>
    </form>
</section>

<%- include('./layout/footer') %>